@import "variables"
html
  height: 100%
body
  height: 100%
  background-color: $color-background
header
  background-color: $color-primary
.page
  padding: 3rem 0
  text-align: left
.meta-navigation
  .navbar-nav
    text-align: right
    .nav-item
      float: none
      display: inline-block
