{% set curMod = module %}
<div class="rwk-card-grid row">
    {% for card in curMod.items %}
        {% if card.size == "md" %}
            {% set cardClass = "col-sm-12 col-md-6" %}
        {% elif card.size == "lg" %}
            {% set cardClass = "col-sm-12" %}
        {% else %}
            {% set cardClass = "col-sm-6 col-md-3" %}
        {% endif %}
        <div class="{{ cardClass }}">
            {% set tmp = curMod %}
            {% set module = card %}
            {% include "rwk-cards/layout."+card.layout+".html" %}
            {% set module = tmp %}
        </div>
    {% endfor %}
</div>